* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    border: none;
    background-color: black;
}

html {
    width: fit-content;
    scroll-behavior: smooth;
    background-color: black;
}


body {
    background-color: black;
    background-position: center;
    background-size: cover;
}


.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200dvh;
}

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.navbar {
    margin-left: 60px;
}

.navbar,
ul,
#nav {
    border: 2px solid transparent;
    display: flex;
    list-style: none;
    margin-right: 30px;
}

#nav {
    color: rgb(255, 74, 74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#nav:hover {
    border: 1px solid cyan;
    border-radius: 5px;
    background-color: transparent;
}

.nav {
    text-decoration: none;
    color: rgb(255, 74, 74);

}

.logo {
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(255, 74, 74);
}

.img .myimg {
    height: 550px;
    width: 450px;
    border-radius: 10%;
    border: 5px solid cyan;
    right: 0px;
    /*  margin-bottom: 200px; */

}


.myimg2 {
    height: 450px;
    width: 450px;
    border-radius: 10%;
    border: 5px solid cyan;
}


.detail {
    margin-top: 20px;
    color: cyan;
}

.section1 {
    /*  margin-top: 20px; */
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
}

#media {
    color: rgb(255, 74, 74);
    font-size: 30px;
    margin-left: 10px;
    background-color: transparent
}

#media>.fa-brands:hover {
    color: cyan;
    font-size: 40px;
}

.aboutin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    background-color: black;
    color: rgb(255, 74, 74);
    left: 0;
    margin: 0px 10px;
}


.About {
    position: relative;
    color: cyan;
    height: 150dvh;
    width: 100%;
}

h3 {
    color: cyan;
}

.btn {
    margin-top: 10px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: cyan;
    box-shadow: -10px 10px -10px 10px cyan,
        -10px 10px -10px 10px cyan,
        -10px 10px -10px 10px cyan,
        -10px 10px -10px 10px cyan;
}

.p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: cyan;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 100px;

}

.Skillstable {
    background-color: aliceblue;
    height: 600px;
    width: 600px;
    border: 5px solid cyan;
    border-radius: 10px;
}

.Skills {
    position: relative;
    height: 150dvh;
}

#skillsdata {
    font-size: 50px;
}

#idss {
    color: cyan;
    position: relative;
    flex-direction: row;
    margin-left: 100px;
    list-style: none;
}

.progress {
    /* left:0; */
    color: aqua;
    background-color: aqua;
    width: 700px;
}

.project {
    position: relative;
    height: 150dvh;
}

/* project */
.projectss {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.calulator {
    border: 5px solid cyan;
    border-radius: 10px;
    height: 300px;
    float: right;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 100%;
    position: relative;
    height: 150dvh;
}

.con {
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    flex-direction: column;
    padding-left: 20px;
}

.footer {
    background-color: cyan;
}

.navbar .navitem {

    position: absolute;
    display: none;
    width: 40px;
    right: 50px;
    top: -10px;
    color: aliceblue;
    cursor: pointer;
    font-size: 30px;
}


@media screen and (max-width:768px) {

    .navbar ul {
        padding: 0px;
    }

    .navlist ul {
        display: none;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 50px;
        position: absolute;
        gap: 30px;
        top: 0px;
        text-align: center;
        background-color: black;
    }

    ul {
        border: 2px solid cyan;
    }

    /* .navlist ul li {
        margin-top: 10px;
        margin-bottom: 10px;
    } */

    .navlist ul.mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .navbar .navitem {
        display: flex;
    }

    #Home {
        height: 100dvh;
    }

    .section1 {
        margin-top: 10px;
        flex-direction: column;
    }


    .img .myimg {
        height: 100%;
        width: 250px;
        border-radius: 10%;
        border: 5px solid cyan;
        left: 50px;
        left: auto;
        margin-left: 120px;
        margin-top: 70px;
    }

    .aboutin {
        display: flex;
        left: 0px;
        background-color: black;
        color: rgb(255, 74, 74);
        margin: 0px 10px;
        flex-direction: column;
        align-items: flex-start;
    }


    .p {
        font-size: 20px;
        position: relative;
    }

    .myimg2 {
        height: 100%;
        width: 200px;
        margin: 0px;
        margin-left: 150px;
        margin-bottom: 20px;
    }


    .contact h3 .con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .project {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100%;
    }



    .projectss {
        flex-direction: column;

    }

    .calulator {
        flex-direction: column;
    }


    .con h1 p a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress {
        /* left:0; */
        color: aqua;
        background-color: aqua;
        width: 150px;
        margin-left: 20px;
    }

    .About {
        position: relative;
        height: 80dvh;
    }

    .Skills {
        position: relative;
        height: 80dvh;
    }

    .project {
        position: relative;
        height: 150dvh;
    }

    .contact {
        position: relative;
        height: 80dvh;
    }
}